<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Ana Sayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Öğrenci Ekle</a>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kullanıcılar
                </a>
                <ul class="dropdown-menu">
                 {% for i in kullanicilar %}
                 <li><a class="dropdown-item" href="{% url 'filter' i.id %}">{{i.username}}</a></li>
                 {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
              <ul class="navbar-nav mb-2 mb-lg-0">

              {% if user.is_authenticated %} <!--buradaki user djangodan gelen user-->
              <li class="nav-item">
                <a class="nav-link" href="#">{{request.user}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
              </li>
              {% endif %}
              </ul>

          </div>
        </div>
      </nav>
</body>
</html>